.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

.headshot{
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 40px;
}

a {
display:block;
margin-right: 10px;
}
body {
    height: 100vh;
    --primary-color: #aafed3;
    --secondary-color: #b09bf4;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-size: 200% 200%;
    animation: moveGradient 5s ease infinite;
}
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}